#vista-imagenes{
    position: absolute;
    background-color: #282C35;
    width: 1250px;
    left: 5%;
}
#conf-imagen{

    padding: 3px;
    width: 250px ;
    height: 150px;
}

body{
    background-color: #282C34;
}
