.overlay {
    background-attachment: fixed;
    background-image:  url("../img/fondoRegister.jpg"), radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0px;
    transition: opacity 0.3s linear 0s;
    width: 100%;
}

.title1 {
    text-align: center;
    color: white;
}

.card{
    background: rgb(194, 192, 215);
    background: linear-gradient(90deg, rgb(62, 61, 68) 0%, rgba(239, 174, 199, 0.2) 34%);
    border-radius: 2%;
    border-inline-style: none;
    top: 50%;
    left: 75%;
}
